body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eee;
}

.App-title{
  font-family: 'Orelega One', cursive;
  font-size: 55px;
}

.App-header {
  padding: 30px;
  text-align: center;
}