.image-container {
    padding: 6px;
    margin: 17px;
    background: #c1b1f9;
    border-radius: 13px;
    display: flex;
    flex-direction: column;
}

.image img {
    max-width: 250px;
    border-radius: 13px;
}

.image-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
    flex: 1;
}